#container{
	margin-top:50px;
}
.panel{
	margin-top:70px;
}

.full {
	background: url(https://quotefancy.com/download/26255/original/wallpaper.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
}
#btn, .btn:hover, .btn:active, .btn:visited {
    background-color: #800040!important;
	color:#c0c0c0!important;
}

#plus{
	 background-color: #B13E65 !important;
	 color:#FFF !important;
	
}
#submit{
	background-color: #B13E65 !important;
 	color:#FFF !important;
}
#signin{
	margin-top:80px;
}
#msg{
	width:80% !important;
}
#date{
	width:20% !important;
}
.form-title{
	color:#B13E65;
}

.round {
    border-radius: 50%;
}
.day{
	color: #B13E65;
}
.taskact{
	    border-style: solid;
    	border-left-color:#B13E65;
    	border-left-width:10px;
}
.container{
	align-items: center;
}

.dropdown-toggle{
	color: #B13E65 !important;
}

#username {
        margin-left: 15px;
        color: #B13E65 !important;
 }

}