<!DOCTYPE HTML>
<html class="full" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link href="../css/bootstrap-theme.css" rel="stylesheet" th:href="@{/css/bootstrap-theme.css}" type="text/css"/>
	<link href="../css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css" />
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet" th:href="@{/css/bootstrap-3.3.2-dist/bootstrap-theme.min.css}" type="text/css" />
	<link href="../css/home.css" rel="stylesheet" th:href="@{/css/home.css}" type="text/css"/>
</head>
<body>
	
		<div id="signin" class="col-md-8 col-md-offset-1">
			<form class="navbar-form navbar-right" role="form" action="/login">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input id="user" type="text" class="form-control" name="user" value="" placeholder="User Name"/>                          
				</div>

				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input id="password" type="password" class="form-control" name="password" value="" placeholder="Password"/>
				</div>
				<button id="btn" type="submit" class="btn ">Login</button>
			</form>
		</div>

	<footer class="footer navbar-fixed-bottom">
		<div>
			<p id="foot" class="text-center"> Designed and built by <b>Faisul Ihshan AjmalKhan</b> </p>
		</div>
	</footer>
    
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/bootstrap/js/npm.js"></script>
</body>
</html>